<div class="d-flex justify-content-center m-2">
    <h4>Genera la tua nuova mail</h4>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Inserisci il tuo nome</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="Name" placeholder="es. Mario">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Inserisci il tuo cognome</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="Surname" placeholder="es. Rossi">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Inserisci qualche numero</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="Number" placeholder="es. 92">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Inserisci il tuo dominio</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="Domain" placeholder="es. gmail.com">
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center m-2">
    <div class="col-1">
        <button class="btn btn-primary" (click)="genMail()">Crea</button>
    </div>
</div>
<div class="row d-flex justify-content-center m-2">
    <div class="col-6">
        <div class="form-group row">
            <label class="col-4 col-form-label">e-mail generata :</label>
            <div class="col-8">
                <input type="text" class="form-control" style="text-transform: lowercase;" [(ngModel)]="Mail" placeholder="---">
            </div>
        </div>
    </div>
</div>