<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" 
        data-target="#exampleModal" (click)="addClick()" data-backdrop ="static"
        data-keyboard="false">
    Add Persona
  </button>
  



<table class="table table-striped responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>More Info</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of PersoneList">
            <td>{{persona.Id}}</td>
            <td>{{persona.Name}}</td>
            <td>{{persona.Surname}}</td>
            <td>{{persona.Information}}</td>
            <td>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" (click)="editClick(persona)" data-backdrop ="static"
                data-keyboard="false"
                >Edit</button>
            </td>
        </tr>     
    </tbody>
</table>


  <!-- Modal Add/Edit -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" (click)="closeClick()">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-edit-per [per]="per" *ngIf="ActivateAddEditPerComp"></app-add-edit-per>
        </div>
      </div>
    </div>
</div>