<div class="form-group row">
    <label class="col-sm-3 col-form-label">Name : </label>
    <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="Name" placeholder="Inserisci il Nome">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">Surname : </label>
    <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="Surname" placeholder="Inserisci il Cognome">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">Information : </label>
    <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="Information" placeholder="Inserisci qualche Informazione">
    </div>
</div>



<button (click)="addEditPersona()" *ngIf= "per.Id == 0" class="btn btn-primary">Add</button>

<button (click)="addEditPersona()" *ngIf= "per.Id != 0" class="btn btn-primary">Edit</button>
