<div class=container>
    <h3 class="d-flex justify-content-center">Angular 10, Web Api, SQL Server</h3>
    <h5 class="d-flex justify-content-center">Persone Portal</h5>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item">
                <div class="nav-link" routerLink="mail" style="cursor: pointer;color:black;font-size: large;">Crea la tua mail</div>
            </li>
            <li class="nav-item">
                <div class="nav-link" routerLink="persone" style="cursor: pointer;color:black; font-size: large;">Persone</div>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>